TORBOX_API_KEY=
MOUNT_METHOD=strm
MOUNT_PATH=/torbox
PUID=
PGID=
ORGANIZATION_MODE=parsed
METADATA_PROVIDER=tmdb
TMDB_API_KEY=
TMDB_ACCESS_TOKEN=
TMDB_LANGUAGE=en-US
TMDB_INCLUDE_ADULT=false
METADATA_MAX_WORKERS=4
ENABLE_METADATA=false
MOUNT_REFRESH_TIME=slow
RAW_MODE=false
